<div>
  <h1>
    Latitude:<%= @lat %>
    Longitude: <%= @lng %>
  </h1>
</div>

<div>
  <% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
  </tr>
  <% end %>
</div>

<div>
<%= @goodzer_url %>
</div>

<%= @closeststore  %>
<%= @closest_store_lat %>
<%= @closest_store_lng %>

<div>
<%= @directions_url %>
</div>

<%= @closeststore  %>
<%= @closest_store_lat %>
<%= @closest_store_lng %>
